{% extends 'base.html.twig' %}

{% block title %}Mon profile !{% endblock %}

{% block body %}

    {{ block('navbar')}}
    <div class="div-block-alert">
      {% for message in app.flashes('success') %}
        <div class="alert alert-success">
          {{ message }}
        </div>
      {% endfor %}
    </div>
    {{ form_start(formUser) }}
    <section class="p-0 bg-light">
      <div class="image image-overlay image-cover" style="background-image:url(../images/slider/293266.jpg)"
      data-top-top="transform: translateY(0px);" 
      data-top-bottom="transform: translateY(-250px);"></div>
      <div class="container">
        <div class="row justify-content-center align-items-end vh-50 mb-5">
          <div class="col col-md-10 col-lg-8">
            <div class="row align-items-center">
              <div class="col-4 col-lg-3">
                <img class="mr-3 avatar avatar-xl rounded" src="../uploads/avatars/{{ user.picture }}" alt="Generic placeholder image">
              </div>
              <div class="col">
                <div class="row align-items-center">
                  <div class="col-md-8">
                    <h2 class="mb-0"><b>{{ form_widget(formUser.username) }}</b></h2>
                    <span class="text-muted"></span>
                  </div>
                  <div class="col-md-4 text-left text-md-right">
                    <button type="button" class="btn btn-rounded btn-ico btn-white" data-toggle="tooltip" data-placement="top" title="Ajouter une image">
                        <i class="icon-plus2 fs-20 icon-add-avatar"></i>
                        {{ form_widget(formUser.picture) }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light p-0">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-10 col-lg-8">
            <div class="nav nav-tabs mb-1">
              <a class="nav-item nav-link active" data-toggle="tab" href="#demo-2-1">Profile</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light pt-2">
      <div class="container">
        <div class="tab-content" id="demo-2">
          <!-- tab settings -->
          <div class="tab-pane show active" id="demo-2-4" role="tabpanel" aria-labelledby="demo-2-4">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-8">
                <div class="row">
                  <div class="col">
                    <h5 class="mb-2 fs-20 font-weight-normal">Vos informations</h5>
                      <div class="form-row">
                        <div class="col">
                          <div class="form-group">
                            <label for="firstName">Prénom</label>
                                {{ form_widget(formUser.firstName) }}   
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label for="secondName">Nom</label>
                                {{ form_widget(formUser.lastName) }}   
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col">
                          <div class="form-group">
                            <label for="userMail">Email</label>
                                {{ form_widget(formUser.email) }}   
                          </div>
                        </div>
                      </div>
                      <div class="form-row mt-1 align-items-center">
                        <div class="col-3">
                          <button class="btn btn-secondary">Enregistrer</button>
                          {{ form_end(formUser) }}
                        </div>
                      </div>
                      {{ form_start(formUpdatePassword)}}
                      <div class="form-row">
                        <div class="col">
                          <div class="form-group">
                            <label for="userMail">Mot de passe</label>
                              {{ form_widget(formUpdatePassword.password, {'required': false, 'value': ''}) }}
                          </div>
                        </div>
                      </div>
                    <button class="btn btn-secondary btn-update-password">Changer votre mot de passe</button>
                    {{ form_end(formUpdatePassword)}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- / tab -->
        </div>
      </div>
    </section>
    {{ block('footer')}}

{% endblock %}
