{% extends 'base.html.twig' %}

{% block title %}Hello TrickController!{% endblock %}

{% block body %}

    <!-- navbar -->
    {{ block('navbar') }}
    <div class="container">

    {{ form_start(formTrick) }}
    
            {{ form_widget(formTrick) }}
            <button class="btn btn-success">
                {% if editMode %}
                    Modifier
                {% else %}
                    Ajouter
                    {% endif %}
            </button>
    {{ form_end(formTrick) }}
    </div>
    <!-- footer -->
    {{ block('footer') }}
{% endblock %}
