{% extends 'base.html.twig' %}

{% block title %}
    {% if editMode %}
        Modifier un trick!
    {% else %}
        Ajouter un trick!
    {% endif %}
{% endblock %}

{% block body %}

    <!-- navbar -->
    {{ block('navbar') }}

    <section>
      <div class="image image-overlay image-cover" style="background-image:url({{ asset('images/slider/thumb-1920-183974.jpg') }})"
      data-top-top="transform: translateY(0px);" 
      data-top-bottom="transform: translateY(-250px);"></div>
      <div class="container-create-edit">
        <div class="row justify-content-center align-items-end">
          <div class="col col-md-6">
          <h3> 
            {% if editMode %}
                Modifier un trick
            {% else %}
                Créer un trick
            {% endif %}
          </h3>
            <div class="row align-items-center">
              <div class="col">
                <div class="row align-items-center">
                  <div class="col-md-12">
                    {{ form_start(formTrick) }}
                      <div class="form-group">
                        <label>Nom : </label>
                        {{ form_widget(formTrick.name) }}
                      </div>
                      <div class="form-group">
                        <label>Description :</label>
                        {{ form_widget(formTrick.description) }}
                      </div>
                      <div class="form-group">
                        <label>Image en avant :</label>
                        {{ form_widget(formTrick.bestImage) }}
                      </div>
                      <div class="form-group">
                        <label>Catégories :</label>
                        {{ form_widget(formTrick.category) }}
                      </div>
                        {% if editMode %}
                          <button class="btn btn-info">
                              Modifier
                          </button>
                          <a href="{{ path('trick_delete', {'id': trickId}) }}" class="btn btn-danger delete-trick">
                              Supprimer
                          </a>
                        {% else %}
                          <button class="btn btn-info">
                              Ajouter
                          </button>
                        {% endif %}
                    {{ form_end(formTrick) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- footer -->
    {{ block('footer') }}
{% endblock %}
