{% extends 'base.html.twig' %}

{% block title %}Crée un trick!{% endblock %}

{% block body %}

    <!-- navbar -->
    {{ block('navbar') }}
    <div class="container">
        {{ form_start(formTrick) }}
        {{ form_widget(formTrick) }}
        <ul class="videos">
            {% for video in formTrick.videos %}
            {% endfor %}
        </ul>
        <button class="btn btn-success">
            {% if editMode %}
                Modifier
            {% else %}
                Ajouter
                {% endif %}
        </button>
        {{ form_end(formTrick) }}
    </div>
    <!-- footer -->
    {{ block('footer') }}
{% endblock %}
