{% extends 'base.html.twig' %}

{% block title %}
    {% if editMode %}
        Modifier un trick!
    {% else %}
        Ajouter un trick!
    {% endif %}
{% endblock %}

{% block body %}
    <!-- navbar -->
    {{ block('navbar') }}
    <div class="div-block-alert">
      {% for message in app.flashes('danger_image') %}
        <div class="alert alert-info">
          {{ message }}
        </div>
      {% endfor %}
      {% for message in app.flashes('danger_video') %}
        <div class="alert alert-info">
          {{ message }}
        </div>
      {% endfor %}
    </div>
    <section>
      <div class="image image-overlay image-cover" style="background-image:url({{ asset('images/slider/thumb-1920-183974.jpg') }})"
      data-top-top="transform: translateY(0px);" 
      data-top-bottom="transform: translateY(-250px);"></div>
      <div class="container-create-edit">
        <div class="row justify-content-center align-items-end">
          <div class="col col-md-6">
          <h3> 
            {% if editMode %}
                Modifier un trick
            {% else %}
                Créer un trick
            {% endif %}
          </h3>
            <div class="row align-items-center">
              <div class="col">
                <div class="row align-items-center">
                  <div class="col-md-12">
                    {{ form_start(formTrick) }}
                      <div class="form-group">
                        <label>Nom : </label>
                        {{ form_widget(formTrick.name) }}
                      </div>
                      <div class="form-group">
                        <label>Description :</label>
                        {{ form_widget(formTrick.description) }}
                      </div>
                      <div class="form-group">
                        <label>Image en avant :</label>
                        {{ form_widget(formTrick.bestImage) }}
                      </div>
                      <div class="form-group">
                        <label>Catégories :</label>
                        {{ form_widget(formTrick.category) }}
                      </div>
                        {% if editMode %}
                          <label>Les images :</label>
                          <div class="form-group delete-image-edit-trick">
                            {% for image in trick.images %}
                              <div class="w-75">
                                  <a href="{{ path('trick_delete_image', {'id': image.id}) }}" class="delete-slug-image-in-trick">X</a>
                                  <img class="mr-3 mb-1 avatar avatar-xl" src="{{ asset('images/tricks/') }}{{ image.name }}">
                              </div>
                            {% endfor %}
                          </div>
                          <label>Les vidéos :</label>
                          <div class="row" style="margin-left:3px">
                            {% for video in trick.videos %} 
                              <div style="display:grid" class="text-center mb-5">
                                <iframe width="200" height="150" class="mr-2 mb-2" 
                                  src="{{ video.link}}" 
                                  frameborder="0" 
                                  allow="accelerometer; autoplay; 
                                  encrypted-media; gyroscope; picture-in-picture" 
                                  allowfullscreen>
                                </iframe>
                                <a href="{{ path('trick_delete_video', {'id': video.id}) }}" class="btn text-danger">Supprimer</a>
                              </div>
                            {% endfor %}
                          </div>
                          <button class="btn btn-info">
                              Modifier
                          </button>
                          <a href="{{ path('trick_delete', {'id': trickId}) }}" class="btn btn-danger delete-trick">
                              Supprimer
                          </a>
                        {% else %}
                          <button class="btn btn-info">
                              Ajouter
                          </button>
                        {% endif %}
                    {{ form_end(formTrick) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- footer -->
    {{ block('footer') }}
{% endblock %}
