{% extends 'base.html.twig' %}

{% block title %}Crée un trick!{% endblock %}

{% block body %}

    <!-- navbar -->
    {{ block('navbar') }}
    <div class="container">
        {{ form_start(formTrick) }}
        {{ form_widget(formTrick) }}
        <button class="btn btn-success">
            {% if editMode %}
                Modifier
            {% else %}
                Ajouter
            {% endif %}
        </button>
        {{ form_end(formTrick) }}
    </div>
            {% if editMode %}
                {{ form_start(formVideo) }}
                    <button class="btn btn-success">
                        Ajouter une vidéo
                    </button>
                {{ form_end(formVideo) }}

                {{ form_start(formImage) }}
                    <button class="btn btn-success">
                        Ajouter une image
                    </button>
                {{ form_end(formImage) }}
            {% endif %}


    <!-- footer -->
    {{ block('footer') }}
{% endblock %}
