{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block body %}

    <!-- navbar -->
    {{ block('navbar') }}

    <!-- right sidebar -->
    <section>
	<div class="div-block-alert">
	{% for message in app.flashes('danger') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
	</div>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <ul class="masonry row gutter-2">
			{% for trick in tricks %}
				<li class="col-md-6 col-lg-4">
					<article class="tile {% if loop.index is even %} tile-long {% endif %}">
						{% if app.user is not null %}
							<div class="icons-tricks">
								<a href="{{ path('trick_edit', {'id': trick.id}) }}">
									<i class="fas fa-pencil-alt pencil-edit-trick"></i>
								</a>
								<a href="{{ path('trick_delete', {'id': trick.id}) }}">
									<i class="fas fa-trash-alt  trash-trick"></i>
								</a>
							</div>
						{% endif %}
							<div class="tile-image" style="background-image: url(images/tricks/{{ trick.bestImage }})"></div>
							<a href="{{ path('trick_show', {'id': trick.id }) }}">
							<div class="tile-footer">
								<h3>{{ trick.name|raw|capitalize }}</h3>
							</div>
						</a>	
					</article>
				</li>
			{% endfor %}
            </ul>
          </div> 
        </div>
      </div>
    </section>
    <!-- / right sidebar -->

    <!-- footer -->
    {{ block('footer') }}

{% endblock %}
