{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}

    <!-- navbar -->
    {{ block('navbar') }}
    <!-- cover -->
    <section class="p-0">
      <div class="swiper-container text-white"
        data-top-top="transform: translateY(0px);" 
        data-top-bottom="transform: translateY(250px);">
        <div class="swiper-wrapper">
          <div class="swiper-slide vh-100">
            <div class="div-block-alert">
              {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                  {{ message }}
                </div>
              {% endfor %}
			        {% for message in app.flashes('update') %}
                <div class="alert alert-success">
                  {{ message }}
                </div>
              {% endfor %}
            </div>
            <div class="image image-overlay image-zoom" style="background-image: url(../images/tricks/{{ trick.bestImage }})"></div>
            <div class="caption">
              <div class="container">
                <div class="row align-items-center vh-100">
                  <div class="col-md-8" data-swiper-parallax-y="-250%">
                    <h1 class="display-2">{{ trick.name }}</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-footer mb-5">
            <div class="container-fluid">
              <div class="row">
                <div class="col text-center">
                  <div class="mouse"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / cover -->

    <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-10">
            <p class="lead">
              {{ trick.name }}
              {% for category in trick.category %}
                <p class="lead">{{ category.name }}</p>
              {% endfor %}
            </p>
             
            <hr class="w-25">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-10">
            <p>{{ trick.description }}</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-10 image-one-tick">
            <div class="owl-carousel owl-carousel-single" data-dots="true" data-nav="true" data-autoplay="true">
               {% for image in trick.images %}
                  <figure class="photo">
                    <img src="../images/tricks/{{ image.name }}" alt="Image">
                  </figure>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
        <br><br><br>        <br><br><br>

        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-10 image-one-tick">
            {% for video in trick.videos %}
              <iframe width="450" height="300" 
                src="{{ video.link}}" 
                frameborder="0" 
                allow="accelerometer; autoplay; 
                encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
              </iframe>
            {% endfor %}
          </div>
        </div>
        <br><br><br>
        <br><br><br>

    <div class="container container-comment">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-10">

            <h1>Commentaires ({{ pagination.getTotalItemCount }})</h1>

            {% for comment in pagination %}
              <div>
                  <div class="content-comment">
                  <img src="../uploads/avatars/{{ comment.user.picture }}" class="rounded-circle avatar-in-comment"> 
                  <div class="">{{ comment.user.username }}</div>
                  <div class="">{{ comment.createdAt|date("h:i:s - d/m/Y") }}</div>
              </div>
              <div class="">{{ comment.text }}</div>
              </div>
            {% endfor %}
        
          <div class="navigation">
              {{ knp_pagination_render(pagination) }}
          </div>    
                  
            {% if app.user is not null %}
              {{ form_start(commentForm) }}
                {{ form_row(commentForm.text, {'attr': {'placeholder':'Votre commentaire'}} ) }}
                <button class="btn btn-info">Envoyer</button>
              {{ form_end(commentForm) }}
            {% endif %}
        </div>
      </div>
    </div>
    <!-- footer -->
    {{ block('footer') }}
{% endblock %}
