{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
    <div class="viewport">
      <div class="image image-overlay" style="background-image:url(../images/slider/293266.jpg)"></div>
      <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
          <div class="col-md-6 col-lg-5">
            <div class="accordion-group accordion-group-portal" data-accordion-group>
              <div class="accordion" data-accordion>
                <div class="accordion-control" data-control>
                  <h5>Créer votre compte</h5>
                </div>
                <div class="accordion-content" data-content>
                  <div class="accordion-content-wrapper">
                    {{ form_start(formRegistration) }}
                      <div class="form-group">
                        <label> Mot de passe </label>
                        {{ form_widget(formRegistration.username) }}
                      </div>
                      <div class="form-group">
                        <label> Mot de passe </label>
                        {{ form_widget(formRegistration.email) }}
                      </div>
                      <div class="form-group">
                        <label> Mot de passe </label>
                        {{ form_widget(formRegistration.password) }}
                      </div>
                        <button class="btn btn-info btn-block">S'inscrire</button>
                    {{ form_end(formRegistration) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
